<!DOCTYPE html>

<html lang="en">

<head>

<title>Test Tools</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {

  box-sizing: border-box;

}

 

body {

  font-family: Arial, Helvetica, sans-serif;

}

 

/* Style the header */

header {

  background-color: #666;

  padding: 5px;

  text-align: center;

  font-size: 15px;

  color: white;

  top: 0;

}

 

/* Create two columns/boxes that floats next to each other */

nav {

  float: left;

  width: 15%;

  height: auto; /* only for demonstration, should be removed */

  background: #ccc;

  padding: 2px;

}

 

/* Style the list inside the menu */

ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

  width: 100%; <!-- All of the NAV width -->

  background-color: #5514b4;

  height: 100%; /* Full height */

  <!-- position: fixed; /* Make it stick, even on scroll */ -->

  overflow: auto; /* Enable scrolling if the sidenav has too much content */

}

 

li a {

  display: block;

  color: #5514b4;

  padding: 6px 16px;

  text-decoration: none;

}

 

li {

  text-align: center;

 

}

 

li:last-child {

  border-bottom: none;

}

 

li a.active {

  background-color: #04AA6D;

  color: white;

}

 

li a:hover:not(.active) {

  background-color: #555;

  color: white;

}

 

article {

  float: left;

  padding: 10px;

  width: 80%;

  background-color: white;

  height: 100%; /* only for demonstration, should be removed */

}

 

/* Clear floats after the columns */

section:after {

  content: "";

  display: table;

  clear: both;

}

 

/* Style the footer */

footer {

  background-color: white;

  padding: 10px;

  text-align: center;

  color: black;

}

 

returnbox {

  margin: 0;

  padding: 1;

  width: 50%;

  background-color: #f1f1f1;

  height: 40%; /* Full height */

  position: fixed; /* Make it stick, even on scroll */

  overflow: auto; /* Enable scrolling if the sidenav has too much content */

 

}

 

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {

  nav, article {

    width: 100%;

    height: auto;

  }

}

</style>

</head>

 

<body>

<header>

  <h2><a href="http://blt05373005/test-tools">Test Tools</a></h2>

</header>

 

<section>

  <nav>

    <ul>

      <li><a href="http://blt05373005/">BAU Test Platform</a></li>

    <br>

      <li><a href="http://blt05373005/new_project" target="_blank">Create a new project & upload XML.</a></li>

      <li><a href="http://blt05373005/runpro">Run uploaded XML project</a></li>

      <li><a href="http://blt05373005/files">View files within the project</a></li>

      <br>

      <li><a href="http://blt05373005/chooseproject">Select an existing project </a></li>

      <li><a href="http://blt05373005/upload">Upload a local file</a></li>

      <li><a href="http://blt05373005/renamesession">Create a new session ID </a></li>      

      <br>

      <br>

      <br>

      <br>

      <li><a href="http://blt05373005/nce-tests">NCE Testing </a></li>

      <li><a href="http://blt05373005/nce-test-run" target="_blank">NCE Test Execution. </a></li>

      <li><a href="http://blt05373005/workdir">Current NCE project results</a></li>

      <br>

      <li><a href="http://blt05373005/stream">Dev Stream </a></li>

      <li><a href="http://blt05373005/erb-template-external" target="_blank">Test Template Example</a></li>

      <li><a href="http://blt05373005/CreateXML">Provide data for an xml file</a></li>

      <li><a href="http://blt05373005/who">Test data capture</a></li>

      <li><a href="http://blt05373005/readfile">View file contents</a></li>

      <li><a href="http://blt05373005/">Find kewords in returned data</a></li>

      <li><a href="http://blt05373005/">Compare 2 projects returned files</a></li>

      <br>

      <br>

      <br>

     

      <li><a href="http://blt05373005/update">Update this tool (Git Pull).</a></li>

    </ul>

  </nav>

 

  <article>

    <%= yield %>

  </article>

</section>

 

<footer>

  <p></p>

</footer>

 

</body>

</html>
